[submodule "Torch"]
	path = Torch
	url = https://github.com/quarrel07/Torch.git
	branch = ghostship-macos
[submodule "libultraship"]
	path = libultraship
	url = https://github.com/quarrel07/libultraship.git
	branch = ghostship-macos
